*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.general{
    border: 5px solid grey;
    max-width: 1000px;
    max-height: 3000px;
}

#header{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: grey;
    height: 100px;
    width: 1000px;
}

#principal h1{
    text-align: center;
}

.caja{
    width: 200px;
    height: 200px;
    color: white;
    background-color: gray;
    border: 5px solid darkslategray;
    border-radius: 30px;
    margin: 15px 15px 15px 15px;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 20px;
    margin-bottom: 13px;
    padding: 20px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}



#footer{
    margin: 30px;
    text-align: center;
}

